@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto nel'applicazione della Polizia Municipale</h1>
    <p>@ViewData["Message"]</p>
    <p>Questa è la Home! Benvenuti!</p>

    <a href="/Anagrafica/Index" class="btn btn-primary">Gestisci Anagrafiche</a>
    <a href="/TipoViolazione/Index" class="btn btn-primary">Gestisci Tipo Violazioni</a>
    <a href="/Verbale/Index" class="btn btn-primary">Gestisci Verbali</a>
</div>
